<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Anime 
    body
        .header
            h1 My Animeer List

        .container 
                p Genre : 
                block genre
                p Writer : 
                block writer
                h3 
                block container

        .footer
            p Copyright &copy; 2019