<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css?v=2")
        title My Animeer List
        block styles
    body
        .header
            .itembox
                h1 My Animeer List
                input(type='text' class='searchbox' placeholder='Search')

        .nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/anime') Anime List
                li
                    a(href='/request') Request
                li
                    a(href='/announcements') Announcements
        
        .container
            block content

        .footer
            p Copyright &copy; 2019
            p2 Experimental Project By Apaar Gautam