extends ../layouts/default.pug

block content
    .totcov
        h1=title
        .top1
            img(id='cover' src =  '/images/' + index + '.jfif')
            p Hero : #{hero}
            p Writer : #{writer}
            
            p Synopsis : #{synopsis}