extends ../layouts/default.pug

block styles
    link(rel="stylesheet", href="/css/home.css?v=2")

block content
    .totcov
        h1=title
        .top1
            img(id='cover' src =  '/images/' + index + '.jfif')
            p Hero : #{hero}
            p Writer : #{writer}
            
            p Synopsis : #{synopsis}