extends ../layouts/default.pug

block styles
    link(rel="stylesheet", href="/css/home.css")

block content

    .top
        h1 Anime Of The Day
        .anime-box
            .poster
                a(href='/anime/' + anime.index)
                    img(src=anime.poster)
            .infoz
                h1
                    a(href='/anime/' + anime.index)=anime.name
                span By #{anime.writer}
                p=anime.synopsis
            
