extends ../layouts/animedes.pug 



block container
    p One piece is one of the most famous animes of all  times with a huge fanbase. This anime is all about a pirate named Luffy who sets out on a journey to become a great pirate(The Pirate  King). On his journey, he finds many friends and recruits passionate crewmates who help  him to achieve his dream. Get aboard the Straw hats' ship to enjoy the journey...... 


block genre 
    p #{g1}, #{g2}, #{g3}

block writer
    p #{writer}